<!doctype html>
<html>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}
        <br>{{ form.name.label }} {{ form.name() }}
        <br>{{ form.version.label }} {{ form.version() }}
        <br>{{ form.submit() }}
    </form>
<br><a href="{{ url_for('main.home') }}"><button>Home</button></a>
<br><a href="{{ url_for('main.view_models') }}"><button>View Models</button></a>
<br><a href="{{ url_for('main.add_model_parameter') }}"><button>Add Model Parameter</button></a>
<br><a href="{{ url_for('main.view_model_parameters') }}"><button>View Model Parameters</button></a>
<br><a href="{{ url_for('main.clear_models') }}"><button>Clear All Models</button></a>
</body>
</html>
