<!doctype html>
{% extends "error_template.html" %}
{% block content %}
<html>
<div class="column is-half is-offset-one-quarter">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <br><button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
        <a href="{{ url_for('auth.signup') }}">
            <button class="button is-block is-info is-large is-fullwidth"> No account? Signup</button>
        </a>
        <br><a href="{{ url_for('main.home') }}">
            <button class="button is-block is-info is-large is-fullwidth"> Go Home</button>
        </a>
    </div>
</div>
</html>
{% endblock %}