<!doctype html>
<html>
<body>
    {% for parameter in data %}
    <tr>
        <br>Model ID<td> {{parameter.model_id}} </td>:
        <br><td> Parameter Name: {{ parameter.name }}</td>
        <br><td>Parameter Value: {{ parameter.value }}</td>
    </tr>
    {% endfor %}
</body>
<body>
    <br><a href="{{ url_for('main.home') }}"><button>Home</button></a>
    <br><a href="{{ url_for('main.add_model_parameter') }}"><button>Add Model Parameter</button></a>
    <br><a href="{{ url_for('main.clear_models') }}"><button>Clear All Models</button></a>
</body>
</html>